TODO.gdoc
train/desktop.ini
eval/desktop.ini
data/desktop.ini
util/desktop.ini
SSDD/
desktop.ini
class documents/Final Presentation.gslides
detectron2/
delete_all_desktop_ini.bat
Copy of final_evaluation.ipynb
Copy of final_model.ipynb
Copy of final_evaluation.ipynb
Copy of final_model.ipynb
